<!DOCTYPE html>
<html lang="en" dir="ltr">
      {{ partial "head/head.html" . }}
  <body>

      {{ partial "header/header.html" . }}
    <div class="container">
      {{ block "main" . }}

      {{ end }}
    </div>
      {{ partial "footer/footer.html" . }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
