
<div class="blue-grey">
  <div class="row">
    <div class="col l4"></div>

    <div class="col l2">
          <span class="white-text right">Par Gilbert Girard</span>
        </div>
    <div class="col l2">
        <a href="{{ .Site.Params.site }}" target="_blank">
          <i class="material-icons white-text">home</i>
        </a>
        <a href="mailto:{{ .Site.Params.courriel }}">
          <i class="material-icons white-text">email</i>
        </a>

    </div>
    <div class="col l4"></div>

</div>
</div>
