<nav>
    <div class="nav-wrapper blue-grey">
      <a href="/" class="brand-logo">Accueil</a>
      <ul id="nav-mobile" class="right">
        {{ range .Site.Menus.mainmenu }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </nav>
