{{ define "main" }}
  {{ .Content }}

  {{ range .Pages }}
  <a href="{{ .Permalink }}">{{ .Title }}</a>
  <h6> <strong>Catégories:</strong> <a href="{{ .Permalink }}">{{ .Params.categories }}</a></h6>
  <h6> <strong>Tags:</strong> <a href="{{ .Permalink }}">{{ .Params.tags }}</a></h6>
  {{ end }}

{{ end }}
